{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load cache %}

{% purchase_info_for_product request product as session %}



{% if session.price.exists %}
    {% if session.price.excl_tax == 0 %}
        <small>{% trans "Free" %}</small>
    {% elif session.price.is_tax_known %}
        <small class="price_color">{{ session.price.incl_tax|currency:session.price.currency }}</small>
    {% else %}
        <small class="price_color">{{ session.price.excl_tax|currency:session.price.currency }}</small>
    {% endif %}
{% else %}
    <small class="price_color">&nbsp;</small>
{% endif %}

    <div style="font-size: 11px; color:#aaa ">
        <i class="icon-{% if session.availability.is_available_to_buy %}ok{% else %}remove{% endif %}"></i>
        {% if verbose %}
            {{ session.availability.message }}
        {% else %}
            {{ session.availability.short_message }}
        {% endif %}
    </div>
