{% extends "custom/layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load form_tags %}

{% block content %}


    <div id="middle" class="container">
			<div class="white">

				<header class="page-header">
					<h1>{% trans 'Log In' %}</h1>
				</header>

				<div class="row">

                    <div class="col-md-12">



                        <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well" >{% csrf_token %}

                            {% include "custom/partials/form_fields.html" with form=login_form %}

                            <div class="row">
                                <!--div class="col-md-6">
                                    <span class="remember-box checkbox">
                                        <label for="rememberme">
                                            <input type="checkbox" id="rememberme" name="rememberme">Remember Me
                                        </label>
                                    </span>
                                </div-->
                                <div class="col-md-6 submit-wrapper">
                                    <button name="login_submit" type="submit" value="Log In" class="btn btn-large btn-primary pull-right" data-loading-text="{% trans "Logging in..." %}">{% trans 'Log In' %}</button>
                                </div>
                            </div>
                            <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}