{% extends "custom/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block viewport %}width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0{% endblock %}
{% block layoutstyles %}
    <!-- CORE CSS -->
		<link href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
		<link href="{%  static "assets/css/font-awesome.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "assets/plugins/owl-carousel/owl.carousel.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "assets/plugins/owl-carousel/owl.theme.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "assets/plugins/owl-carousel/owl.transitions.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "assets/plugins/magnific-popup/magnific-popup.css" %}" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="{% static "assets/css/essentials.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "assets/css/layout.css" %}"  rel="stylesheet" type="text/css" />
		<link href="{% static "assets/css/color_scheme/green.css" %}" rel="stylesheet" type="text/css" />

        <!-- Morenizr -->
		<script type="text/javascript" src="{% static "assets/plugins/modernizr.min.js" %}"></script>


{% endblock %}

{% block layout %}
    <!-- TOP BAR -->
		{% include "custom/partials/nav_accounts.html" %}
	<!-- /TOP BAR -->

		<!-- HEADER -->
		<header id="header">
			<div class="container">

				<!-- LOGO -->
				<a href="index.html" class="logo"><img alt="" src="{% static "assets/images/logo.png" %}" height="60" /></a>
				<!-- LOGO -->

				<!-- OPTIONS -->
				{% include "custom/partials/options.html" %}
				<!-- /OPTIONS -->


				<!-- TOP MENU -->
				{% include "custom/partials/top_menu.html" %}
				<!-- /TOP MENU -->

			</div>
		</header>
		<!-- /HEADER -->

        {# Page content #}
        {% block content %}{% endblock %}

		<!-- FOOTER -->
		{% include "custom/partials/footer.html" %}
		<!-- /FOOTER -->

		<!-- FOLLOW US -->
		{% include "custom/partials/follow_us.html" %}
		<!-- /FOLLOW US -->

{% endblock layout %}

 {% block layoutscripts %}
        <script type="text/javascript" src="{% static "assets/plugins/jquery-2.0.3.min.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/plugins/jquery.easing.1.3.js" %}"></script>
		<script type="text/javascript" src="{% static "assets/plugins/jquery.appear.js" %}"></script>
		<script type="text/javascript" src="{% static "assets/plugins/jquery.isotope.js" %}"></script>
		<script type="text/javascript" src="{% static "assets/plugins/jquery.nicescroll.min.js" %}"></script>

		<script type="text/javascript" src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
		<script type="text/javascript" src="{% static "assets/plugins/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
		<script type="text/javascript" src="{% static "assets/plugins/owl-carousel/owl.carousel.min.js" %}"></script>
		<script type="text/javascript" src="{% static  "assets/plugins/knob/js/jquery.knob.js" %}"></script>

		<!-- MAXIMAGE SLIDER -->
		<script type="text/javascript" src="{% static "assets/plugins/maximage/js/jquery.cycle.all.min.js" %}"></script>
		<script type="text/javascript" src="{% static "assets/plugins/maximage/js/jquery.maximage.min.js" %}"></script>

		<script type="text/javascript" src="{%  static "assets/js/scripts.js" %}"></script>
 {% endblock %}
